<h2>US Domestic Flight Analysis</h2>

@author: Laxmi Prajapat

In [1]:
# import relevant libraries
import pandas as pd
import numpy as np
import datetime

In [2]:
# general functions

# merging two dataframes via a left join
def left_join(df1, df2, key1, key2):
    joined = df1.merge(df2, how = 'left', left_on = key1, right_on = key2)
    del joined[key2]
    return joined

# function for type casting columns
# col_type = str, float, int...
# else assume date column
def type_cast(df, col_list, col_type = None, time_format = "%Y-%m-%d"):
    if len(col_list) == 0:
        raise ValueError('Length of column list must be > 0')
    if len(col_list) == 1:
        col_list = col_list[0]
    if col_type:
        df[col_list] = df[col_list].astype(col_type)
    else:
        df[col_list] = pd.to_datetime(df[col_list], format = time_format)
    return df

In [3]:
# read in files
#data = pd.read_csv('data-flights_medium.csv', header = 0)
data = pd.read_csv('data-flights_large.csv', header = 0)
weather = pd.read_csv('data-weather.csv', header = 0)

# shape of data
print data.shape
print weather.shape

(10000000, 19)
(35488695, 6)

<h4>External data sources</h4>

In [4]:
# external data downloaded

### 1) state abbreviations
# https://github.com/jasonong/List-of-US-States/blob/master/states.csv
states = pd.read_csv('states.csv', header = 0)
# append "PR" = "Puerto Rico" and "VI" = "United States Virgin Islands"
# [i for i in data["Departure_State"].unique().tolist() if i not in states.index.values.tolist()]
states = states.append({"Abbreviation": "PR", "State": "Puerto Rico"},ignore_index = True)
states = states.append({"Abbreviation": "VI", "State": "United States Virgin Islands"},ignore_index = True)
print states.shape


### 2) airport codes (IATA) - airport names - location
# https://github.com/datasets/airport-codes
airport_codes = pd.read_csv('airport-codes.csv', header = 0)
print airport_codes.shape
# take subset for US and where IATA code is not missing
airport_codes = airport_codes[airport_codes["iso_country"] == "US"]
airport_codes = airport_codes.dropna(subset = ["iata_code"])
# IATA codes should be unique, but are not in this case as the code can be re-used for closed/re-opened airports

# print airport_codes.shape
# print airport_codes["iata_code"].nunique()

# drop the rows where duplicates directly impact our flights dataset so that we have 1:1 mapping
# airport = AUS and SEA, drop the rows representing closed airport
airport_codes = airport_codes.drop([11129, 35250])

# split coordinates column into longitude and latitude
# round to 2 d.p to match accuracy of flights data
airport_codes['longitude'], airport_codes['latitude'] = airport_codes['coordinates'].str.split(', ', 1).str
airport_codes[['longitude', 'latitude']] = airport_codes[['longitude', 'latitude']].astype(float)
airport_codes = airport_codes.round({'longitude': 2, 'latitude': 2})

# add in information for PSE, SOP, STX, SJU, airports as these were missing in a join attempt
# http://www.airnav.com
airport_codes = airport_codes.append({"longitude": -66.56, "latitude": 18.01, "iata_code": "PSE", 
                                      "name": "Mercedita Airport"}, ignore_index = True)
airport_codes = airport_codes.append({"longitude": -79.39, "latitude": 35.24, "iata_code": "SOP", 
                                      "name": "Moore County Airport"}, ignore_index = True)
airport_codes = airport_codes.append({"iata_code": "STX", "name": "Henry E Rohlsen Airport"}, ignore_index = True)
airport_codes = airport_codes.append({"iata_code": "SJU", "name": "Luis Munoz Marin International Airport"}, 
                                     ignore_index = True)
airport_codes = airport_codes.append({"iata_code": "STT", "name": "Cyril E King Airport"}, ignore_index = True)

# quick retrieval of information
def search_airport(code):
    print airport_codes[airport_codes["iata_code"] == code][["iso_region","iata_code","name", "longitude", "latitude"]]
    

### 3) airline names
# https://openflights.org/data.html
airlines = pd.read_csv('airline-id.csv', header = 0)
airlines['Code'] = airlines['Code'].astype(str)
# subset containing codes corresponding to our flights dataset
data["Airline_code"] = data["Airline_code"].astype(str)
airlines = airlines[airlines["Code"].isin(data["Airline_code"].unique().tolist())]
print airlines.shape


### 4) state-region mapping
# https://github.com/cphalpert/census-regions
regions = pd.read_csv('us census bureau regions and divisions.csv', header = 0)
print regions.shape
regions = regions.append({"State": "Puerto Rico", "State Code": "PR", "Region": "Not Applicable", "Division": "Not Applicable"}, ignore_index = True)
regions = regions.append({"State": "United States Virgin Islands", "State Code": "VI", "Region": "Not Applicable", "Division": "Not Applicable"}, ignore_index = True)

(53, 2)
(46235, 12)
(23, 3)
(51, 4)

<h4>Data cleaning and initial profiling</h4>

In [5]:
# columns present
print data.columns.values.tolist()
print weather.columns.values.tolist()

['Date', 'Airline', 'Airline_code', 'Arrival_airport', 'Arrival_state', 'Departure_Airport', 'Departure_State', 'Departure_actual', 'Departure_delay', 'Arrival_actual', 'Arrival_delay', 'Arrival_schedule', 'Departure_schedule', 'DC_Longitude', 'DC_Latitude', 'Longitude', 'Latitude', 'Route', 'Path_order']
['Date', 'airport', 'time', 'temperature', 'snow', 'wind']

In [6]:
# observe first 50 rows of flight data
data.head(50)

,Date,Airline,Airline_code,Arrival_airport,Arrival_state,Departure_Airport,Departure_State,Departure_actual,Departure_delay,Arrival_actual,Arrival_delay,Arrival_schedule,Departure_schedule,DC_Longitude,DC_Latitude,Longitude,Latitude,Route,Path_order
0,2010-12-27,HA,19690,SAN,CA,HNL,HI,1311,1,2047,12,2035.0,1310.0,-157.92,21.31,-157.92,21.31,HI to CA,1
1,2004-04-10,HA,19690,SAN,CA,HNL,HI,1336,11,2146,11,2135.0,1325.0,-157.92,21.31,-157.92,21.31,HI to CA,1
2,2004-04-29,HA,19690,SAN,CA,HNL,HI,1404,39,2223,48,2135.0,1325.0,-157.92,21.31,-157.92,21.31,HI to CA,1
3,2008-09-09,HA,19690,SAN,CA,HNL,HI,1333,-2,2147,-3,2150.0,1335.0,-157.92,21.31,-157.92,21.31,HI to CA,1
4,2011-03-30,HA,19690,SAN,CA,HNL,HI,1314,-1,2158,23,2135.0,1315.0,-157.92,21.31,-157.92,21.31,HI to CA,1
5,2011-03-24,HA,19690,SAN,CA,HNL,HI,1314,-1,2140,5,2135.0,1315.0,-157.92,21.31,-157.92,21.31,HI to CA,1
6,2008-12-29,HA,19690,SAN,CA,HNL,HI,1416,6,2131,1,2130.0,1410.0,-157.92,21.31,-157.92,21.31,HI to CA,1
7,2012-01-29,HA,19690,SAN,CA,HNL,HI,1501,111,2238,123,2035.0,1310.0,-157.92,21.31,-157.92,21.31,HI to CA,1
8,2011-06-15,HA,19690,SAN,CA,HNL,HI,1303,3,2133,3,2130.0,1300.0,-157.92,21.31,-157.92,21.31,HI to CA,1
9,2012-05-29,HA,19690,SAN,CA,HNL,HI,1345,0,2212,2,2210.0,1345.0,-157.92,21.31,-157.92,21.31,HI to CA,1
10,2005-11-07,HA,19690,SAN,CA,HNL,HI,1317,-3,2016,-24,2040.0,1320.0,-157.92,21.31,-157.92,21.31,HI to CA,1
11,2005-11-06,HA,19690,SAN,CA,HNL,HI,1319,-1,2019,-21,2040.0,1320.0,-157.92,21.31,-157.92,21.31,HI to CA,1
12,2012-09-27,AS,19930,SAN,CA,HNL,HI,1235,-5,2051,-31,2122.0,1240.0,-157.92,21.31,-157.92,21.31,HI to CA,1
13,2007-07-14,UA,19977,SAN,CA,HNL,HI,2230,-10,714,11,703.0,2240.0,-157.92,21.31,-157.92,21.31,HI to CA,1
14,2007-07-06,HA,19690,SAN,CA,HNL,HI,1327,-8,2131,-19,2150.0,1335.0,-157.92,21.31,-157.92,21.31,HI to CA,1
15,2007-08-29,HA,19690,SAN,CA,HNL,HI,1330,-5,2138,-12,2150.0,1335.0,-157.92,21.31,-157.92,21.31,HI to CA,1
16,2008-08-11,HA,19690,SAN,CA,HNL,HI,1338,3,2142,-8,2150.0,1335.0,-157.92,21.31,-157.92,21.31,HI to CA,1
17,2008-08-18,HA,19690,SAN,CA,HNL,HI,1345,10,2208,18,2150.0,1335.0,-157.92,21.31,-157.92,21.31,HI to CA,1
18,2011-07-05,HA,19690,SAN,CA,HNL,HI,1258,-2,2126,6,2120.0,1300.0,-157.92,21.31,-157.92,21.31,HI to CA,1
19,2011-07-29,HA,19690,SAN,CA,HNL,HI,1307,7,2137,17,2120.0,1300.0,-157.92,21.31,-157.92,21.31,HI to CA,1
20,2011-08-05,HA,19690,SAN,CA,HNL,HI,1304,4,2115,-5,2120.0,1300.0,-157.92,21.31,-157.92,21.31,HI to CA,1
21,2011-08-17,HA,19690,SAN,CA,HNL,HI,1300,0,2123,3,2120.0,1300.0,-157.92,21.31,-157.92,21.31,HI to CA,1
22,2009-07-02,HA,19690,SAN,CA,HNL,HI,1248,3,2113,13,2100.0,1245.0,-157.92,21.31,-157.92,21.31,HI to CA,1
23,2009-07-10,HA,19690,SAN,CA,HNL,HI,1239,-6,2107,7,2100.0,1245.0,-157.92,21.31,-157.92,21.31,HI to CA,1
24,2009-09-24,HA,19690,SAN,CA,HNL,HI,1250,-5,2130,20,2110.0,1255.0,-157.92,21.31,-157.92,21.31,HI to CA,1
25,2010-12-26,HA,19690,SAN,CA,HNL,HI,1307,-3,2026,-9,2035.0,1310.0,-157.92,21.31,-157.92,21.31,HI to CA,1
26,2008-09-02,HA,19690,SAN,CA,HNL,HI,1337,2,2153,3,2150.0,1335.0,-157.92,21.31,-157.92,21.31,HI to CA,1
27,2011-03-18,HA,19690,SAN,CA,HNL,HI,1316,1,2142,7,2135.0,1315.0,-157.92,21.31,-157.92,21.31,HI to CA,1
28,2008-12-08,HA,19690,SAN,CA,HNL,HI,1405,-5,2149,19,2130.0,1410.0,-157.92,21.31,-157.92,21.31,HI to CA,1
29,2008-12-09,HA,19690,SAN,CA,HNL,HI,1419,9,2140,10,2130.0,1410.0,-157.92,21.31,-157.92,21.31,HI to CA,1
30,2012-01-30,HA,19690,SAN,CA,HNL,HI,1310,0,2039,4,2035.0,1310.0,-157.92,21.31,-157.92,21.31,HI to CA,1
31,2012-01-11,HA,19690,SAN,CA,HNL,HI,1307,-3,2046,11,2035.0,1310.0,-157.92,21.31,-157.92,21.31,HI to CA,1
32,2011-06-18,HA,19690,SAN,CA,HNL,HI,1258,-2,2145,15,2130.0,1300.0,-157.92,21.31,-157.92,21.31,HI to CA,1
33,2012-08-12,AS,19930,SAN,CA,HNL,HI,1537,17,2357,-2,2359.0,1520.0,-157.92,21.31,-157.92,21.31,HI to CA,1
34,2012-08-13,AS,19930,SAN,CA,HNL,HI,1517,-3,2340,-19,2359.0,1520.0,-157.92,21.31,-157.92,21.31,HI to CA,1
35,2012-08-23,AS,19930,SAN,CA,HNL,HI,1541,21,7,8,2359.0,1520.0,-157.92,21.31,-157.92,21.31,HI to CA,1
36,2012-08-10,HA,19690,SAN,CA,HNL,HI,1434,-1,2248,-7,2255.0,1435.0,-157.92,21.31,-157.92,21.31,HI to CA,1
37,2012-08-18,HA,19690,SAN,CA,HNL,HI,1431,-4,2243,-12,2255.0,1435.0,-157.92,21.31,-157.92,21.31,HI to CA,1
38,2012-08-19,HA,19690,SAN,CA,HNL,HI,1428,-7,2300,5,2255.0,1435.0,-157.92,21.31,-157.92,21.31,HI to CA,1
39,2005-11-28,HA,19690,SAN,CA,HNL,HI,1322,2,2025,-15,2040.0,1320.0,-157.92,21.31,-157.92,21.31,HI to CA,1
40,2012-07-14,HA,19690,SAN,CA,HNL,HI,1429,-6,2246,-9,2255.0,1435.0,-157.92,21.31,-157.92,21.31,HI to CA,1
41,2009-12-05,HA,19690,SAN,CA,HNL,HI,1329,9,2033,-7,2040.0,1320.0,-157.92,21.31,-157.92,21.31,HI to CA,1
42,2012-09-16,AS,19930,SAN,CA,HNL,HI,1235,-5,2059,-23,2122.0,1240.0,-157.92,21.31,-157.92,21.31,HI to CA,1
43,2007-08-04,UA,19977,SAN,CA,HNL,HI,2231,-9,652,-11,703.0,2240.0,-157.92,21.31,-157.92,21.31,HI to CA,1
44,2005-06-26,HA,19690,SAN,CA,HNL,HI,1217,-3,2020,-15,2035.0,1220.0,-157.92,21.31,-157.92,21.31,HI to CA,1
45,2005-06-27,HA,19690,SAN,CA,HNL,HI,1222,2,2048,13,2035.0,1220.0,-157.92,21.31,-157.92,21.31,HI to CA,1
46,2008-06-19,HA,19690,SAN,CA,HNL,HI,1342,7,2202,12,2150.0,1335.0,-157.92,21.31,-157.92,21.31,HI to CA,1
47,2011-08-10,HA,19690,SAN,CA,HNL,HI,1301,1,2121,1,2120.0,1300.0,-157.92,21.31,-157.92,21.31,HI to CA,1
48,2009-09-25,HA,19690,SAN,CA,HNL,HI,1254,-1,2129,19,2110.0,1255.0,-157.92,21.31,-157.92,21.31,HI to CA,1
49,2004-04-30,HA,19690,SAN,CA,HNL,HI,1329,4,2145,10,2135.0,1325.0,-157.92,21.31,-157.92,21.31,HI to CA,1

In [7]:
# observe first 50 rows of weather data
weather.head(50)

          Date airport  time  temperature  snow  wind
0   2006-03-14     ORD  2041           35   NaN  18.6
1   2006-09-08     SLC   807           72   NaN   6.5
2   2006-10-22     MCO  1202           81   0.0   3.1
3   2006-10-22     MCO   602           81   0.0   3.1
4   2007-07-09     MRY  1011           64   NaN   0.7
5   2006-08-01     IAH  1256           85   NaN   5.1
6   2006-01-22     MDW  1330           27   3.0   0.9
7   2007-07-04     DFW  1259           80   NaN   5.7
8   2007-07-04     DFW   930           80   NaN   5.7
9   2006-08-17     SEA   644           63   NaN   2.8
10  2006-08-17     SEA  1947           63   NaN   2.8
11  2005-06-05     MEM  1927           85   NaN   8.4
12  2005-01-19     BOS  1847           15   NaN   3.1
13  2006-04-30     BWI  1010           52   0.0   4.5
14  2007-03-14     DCA  1049           66   0.0   8.7
15  2005-05-04     DEN  1825           53   NaN   5.4
16  2006-10-09     LAX  1800           67   NaN   3.6
17  2005-12-08     DFW  1047           25   NaN  14.9
18  2005-09-10     PBI  1442           83   NaN   5.1
19  2005-06-26     FLL   928           83   NaN   6.1
20  2006-10-22     PHX  1144           75   NaN   0.6
21  2006-09-13     RDM  1455           58   NaN   5.5
22  2005-03-04     CVG  1630           38   0.0   1.8
23  2006-05-04     ATL  1406           73   NaN   5.9
24  2005-10-17     RIC  1515           59   NaN   5.2
25  2006-08-25     ATL  2136           78   0.0   4.5
26  2005-12-01     ABQ   820           42   NaN   2.6
27  2007-05-13     BDL   736           56   NaN   7.8
28  2005-05-28     BZN  1630           56   NaN   0.9
29  2005-08-15     LGA  1743           75   0.0   7.2
30  2006-02-10     STL   911           37   1.0   7.0
31  2006-12-10     SLC   743           40   NaN   2.8
32  2006-12-10     SLC  1729           40   NaN   2.8
33  2006-10-22     BOS  1540           48   NaN   3.6
34  2005-08-11     SJC  1233           72   NaN   5.3
35  2006-07-21     SLC   934           86   NaN   2.0
36  2005-08-15     ORD  1458           71   NaN   3.5
37  2007-06-19     DCA   921           85   NaN   5.0
38  2005-11-14     EWR  1517           58   0.0   5.9
39  2005-07-31     LAS   950           91   NaN   1.1
40  2005-04-27     IAD  1326           60   NaN   7.7
41  2005-02-08     JFK  1537           41   0.0   3.8
42  2005-08-11     MLB  2105           83   NaN   2.2
43  2005-08-11     MLB  1730           83   NaN   2.2
44  2007-05-13     LAS  1155           84   NaN   8.2
45  2007-04-02     PHX  1801           75   NaN   0.7
46  2007-04-02     PHX  1614           75   NaN   0.7
47  2007-07-13     PHX  1719           98   NaN   7.7
48  2007-07-13     PHX   848           98   NaN   7.7
49  2007-07-13     PHX  1035           98   NaN   7.7

In [8]:
# current data types
print data.dtypes
print weather.dtypes

# segregating string and float columns for weather dataset
data_str_cols = ['Airline', 'Airline_code', 'Arrival_airport', 'Arrival_state', 'Departure_Airport', 
                 'Departure_State', 'Route', 'Path_order']
data_float_cols = ['Departure_actual', 'Departure_delay', 'Arrival_actual', 'Arrival_delay', 'Arrival_schedule', 
                   'Departure_schedule', 'DC_Longitude', 'DC_Latitude', 'Longitude', 'Latitude']

# segregating string and float columns for weather dataset
weather_str_cols = ['airport']
weather_float_cols = ['time', 'temperature', 'snow', 'wind']

# same date column for both datasets
date_cols = ['Date']
date_format = "%Y-%m-%d"

data = type_cast(data, data_str_cols, str)
data = type_cast(data, data_float_cols, float)
data = type_cast(data, date_cols)

weather = type_cast(weather, weather_str_cols, str)
weather = type_cast(weather, weather_float_cols, float)
weather = type_cast(weather, date_cols)

# observe changes
print data.dtypes
print weather.dtypes

# create additional date columns
data["Year"] = data["Date"].dt.year
data["Month"] = data["Date"].dt.month
data["Day"] = data["Date"].dt.day

weather["Year"] = weather["Date"].dt.year
weather["Month"] = weather["Date"].dt.month
weather["Day"] = weather["Date"].dt.day

Date                   object
Airline                object
Airline_code           object
Arrival_airport        object
Arrival_state          object
Departure_Airport      object
Departure_State        object
Departure_actual        int64
Departure_delay         int64
Arrival_actual          int64
Arrival_delay           int64
Arrival_schedule      float64
Departure_schedule    float64
DC_Longitude          float64
DC_Latitude           float64
Longitude             float64
Latitude              float64
Route                  object
Path_order              int64
dtype: object
Date            object
airport         object
time             int64
temperature      int64
snow           float64
wind           float64
dtype: object
Date                  datetime64[ns]
Airline                       object
Airline_code                  object
Arrival_airport               object
Arrival_state                 object
Departure_Airport             object
Departure_State               object
Departure_actual             float64
Departure_delay              float64
Arrival_actual               float64
Arrival_delay                float64
Arrival_schedule             float64
Departure_schedule           float64
DC_Longitude                 float64
DC_Latitude                  float64
Longitude                    float64
Latitude                     float64
Route                         object
Path_order                    object
dtype: object
Date           datetime64[ns]
airport                object
time                  float64
temperature           float64
snow                  float64
wind                  float64
dtype: object

In [9]:
# basic descriptive statistics for numerical columns
print data.describe()
print weather.describe()

       Departure_actual  Departure_delay  Arrival_actual  Arrival_delay  \
count      1.000000e+07     1.000000e+07    1.000000e+07   1.000000e+07
mean       1.339896e+03     7.977523e+00    1.485823e+03   5.590595e+00
std        4.749350e+02     2.989364e+01    4.960542e+02   3.307119e+01
min        1.000000e+00    -1.200000e+03    1.000000e+00  -3.360000e+02
25%        9.310000e+02    -4.000000e+00    1.105000e+03  -1.000000e+01
50%        1.330000e+03    -1.000000e+00    1.514000e+03  -2.000000e+00
75%        1.731000e+03     6.000000e+00    1.908000e+03   1.000000e+01
max        2.400000e+03     1.382000e+03    2.400000e+03   1.435000e+03

       Arrival_schedule  Departure_schedule  DC_Longitude   DC_Latitude  \
count      9.999999e+06        9.999999e+06  1.000000e+07  1.000000e+07
mean       1.495351e+03        1.332818e+03 -9.481311e+01  3.709718e+01
std        4.781425e+02        4.636574e+02  1.669296e+01  5.832348e+00
min        0.000000e+00        0.000000e+00 -1.766400e+02  1.770000e+01
25%        1.111000e+03        9.300000e+02 -1.066000e+02  3.343000e+01
50%        1.517000e+03        1.325000e+03 -8.997000e+01  3.736000e+01
75%        1.906000e+03        1.722000e+03 -8.240000e+01  4.130000e+01
max        2.400000e+03        2.359000e+03 -6.480000e+01  7.128000e+01

          Longitude      Latitude          Year         Month           Day
count  1.000000e+07  1.000000e+07  1.000000e+07  1.000000e+07  1.000000e+07
mean  -9.482777e+01  3.708340e+01  2.006925e+03  6.487467e+00  1.572550e+01
std    1.661802e+01  5.815917e+00  3.013532e+00  3.411258e+00  8.784793e+00
min   -1.766400e+02  1.770000e+01  2.002000e+03  1.000000e+00  1.000000e+00
25%   -1.066000e+02  3.343000e+01  2.004000e+03  4.000000e+00  8.000000e+00
50%   -8.997000e+01  3.736000e+01  2.007000e+03  6.000000e+00  1.600000e+01
75%   -8.253000e+01  4.079000e+01  2.009000e+03  9.000000e+00  2.300000e+01
max   -6.480000e+01  7.128000e+01  2.012000e+03  1.200000e+01  3.100000e+01
               time   temperature          snow          wind          Year  \
count  3.548870e+07  3.548870e+07  1.031287e+07  3.548156e+07  3.548870e+07
mean   1.414393e+03  6.041955e+01  2.329395e-01  6.342785e+00  2.005831e+03
std    4.956853e+02  1.773203e+01  1.278321e+00  4.168315e+00  7.624222e-01
min    1.000000e+00 -4.600000e+01  0.000000e+00  0.000000e+00  2.005000e+03
25%    1.022000e+03  4.900000e+01  0.000000e+00  3.100000e+00  2.005000e+03
50%    1.424000e+03  6.200000e+01  0.000000e+00  5.600000e+00  2.006000e+03
75%    1.823000e+03  7.400000e+01  0.000000e+00  8.900000e+00  2.006000e+03
max    2.400000e+03  3.580000e+02  7.600000e+01  3.860000e+01  2.007000e+03

              Month           Day
count  3.548870e+07  3.548870e+07
mean   5.934795e+00  1.556490e+01
std    3.334062e+00  8.760994e+00
min    1.000000e+00  1.000000e+00
25%    3.000000e+00  8.000000e+00
50%    6.000000e+00  1.500000e+01
75%    9.000000e+00  2.300000e+01
max    1.200000e+01  3.100000e+01

In [10]:
# time period range
print data["Date"].min(), data["Date"].max()
print weather["Date"].min(), weather["Date"].max()

2002-01-01 00:00:00 2012-12-31 00:00:00
2005-01-01 00:00:00 2007-07-18 00:00:00

In [11]:
# initial insights on composition of data

# data:
# unique airlines/airline codes covered = 23
print "Unique airlines/codes: ",data["Airline"].nunique(), data["Airline_code"].nunique()

# unique departure/arrival airports = 234, 67 respectively
print "Unique departure airports: ",data["Departure_Airport"].nunique()
print "Unique arrival airports: ",data["Arrival_airport"].nunique()

# overall distinct airports covered = 255
print "Unique airports: ",len(set(data["Departure_Airport"].unique().tolist() + data["Arrival_airport"].unique().tolist()))

# unique departure/arrival states = 52, 32 respectively
print "Unique departure states: ",data["Departure_State"].nunique()
print "Unique arrival states: ",data["Arrival_state"].nunique()

# overall distinct states covered = 52
print "Unique states: ",len(set(data["Departure_State"].unique().tolist() + data["Arrival_state"].unique().tolist()))

# unique routes
print "Unique routes: ",data["Route"].nunique()
print "Most popular route: ",data['Route'].value_counts().index[0]

# year with most flights
print "Year with most flights: ",data["Year"].value_counts().index[0]

# airline with most flights
print "Airline with most flights: ",data["Airline"].value_counts().index[0]

# weather:
# overall distinct airports
print "Unique airports: ",weather["airport"].nunique()

Unique airlines/codes:  23 23
Unique departure airports:  234
Unique arrival airports:  67
Unique airports:  255
Unique departure states:  52
Unique arrival states:  32
Unique states:  52
Unique routes:  586
Most popular route:  CA to CA
Year with most flights:  2005
Airline with most flights:  US
Unique airports:  273

In [12]:
# check to see if there are any duplicates
# there are 15 duplicates in the flight data across all variables
print data.duplicated().sum()

# there are 9266064 duplicates in the weather data across all variables
print weather.duplicated().sum()

# drop duplicate rows in the datasets and compare shapes
s1 = data.shape[0]
data = data.drop_duplicates()
s2 = data.shape[0]
print "Before: {}, After: {}".format(s1,s2)

s1 = weather.shape[0]
weather = weather.drop_duplicates()
s2 = weather.shape[0]
print "Before: {}, After: {}".format(s1,s2)

15
9266064
Before: 10000000, After: 9999985
Before: 35488695, After: 26222631

In [13]:
# check if there are missing values
# there is only 1 for "Arrival_schedule" and "Departure_schedule"
print data.isnull().sum()

# several missing values for snow and wind
print weather.isnull().sum()

# total number of rows containing missing values
print "Missing rows for data df: ",data.shape[0] - data.dropna().shape[0]
print "Missing rows in weather df: ",weather.shape[0] - weather.dropna().shape[0]

Date                  0
Airline               0
Airline_code          0
Arrival_airport       0
Arrival_state         0
Departure_Airport     0
Departure_State       0
Departure_actual      0
Departure_delay       0
Arrival_actual        0
Arrival_delay         0
Arrival_schedule      1
Departure_schedule    1
DC_Longitude          0
DC_Latitude           0
Longitude             0
Latitude              0
Route                 0
Path_order            0
Year                  0
Month                 0
Day                   0
dtype: int64
Date                  0
airport               0
time                  0
temperature           0
snow           18742261
wind               6486
Year                  0
Month                 0
Day                   0
dtype: int64
Missing rows for data df:  1
Missing rows in weather df:  18742905

In [14]:
# impute missing values in flights data
# Arrival_actual - Arrival_delay = Arrival_schedule
# Departure_actual - Departure_delay = Departure_schedule

# general method
"""
def impute_schedule(schedule, actual, delay):
    if pd.isnull(schedule):
        return actual - delay
    else:
        return

data["Arrival_schedule"] = data[["Arrival_schedule", "Arrival_actual", "Arrival_delay"]].apply(lambda x: impute_schedule(x[0],x[1],x[2]), axis = 1)
data["Departure_schedule"] = data[["Departure_schedule", "Departure_actual", "Departure_delay"]].apply(lambda x: impute_schedule(x[0],x[1],x[2]), axis = 1)
"""

# fast method using known index for missing value
missing_index = data[pd.isnull(data['Arrival_schedule'])].index.values[0]
data["Arrival_schedule"].loc[missing_index] = data["Arrival_actual"].loc[missing_index] - data["Arrival_delay"].loc[missing_index]
data["Departure_schedule"].loc[missing_index] = data["Departure_actual"].loc[missing_index] - data["Departure_delay"].loc[missing_index]

In [15]:
# airports where we have missing values for wind
print weather[pd.isnull(weather['snow'])]['airport'].unique()

# airports where we have missing values for wind
print weather[pd.isnull(weather['wind'])]['airport'].unique()

# snow and wind slightly negatively correlated with temperature (as expected)
print weather.corr()

['ORD' 'SLC' 'MRY' 'IAH' 'DFW' 'SEA' 'MEM' 'BOS' 'DEN' 'LAX' 'PBI' 'FLL'
 'PHX' 'RDM' 'ATL' 'RIC' 'ABQ' 'BDL' 'BZN' 'SJC' 'DCA' 'LAS' 'IAD' 'MLB'
 'GPT' 'SMF' 'PWM' 'SFO' 'ALB' 'TUL' 'ELP' 'JFK' 'LYH' 'MSP' 'MCO' 'CLT'
 'BGR' 'AUS' 'FAT' 'GNV' 'RDU' 'DTW' 'SAN' 'SDF' 'CAE' 'MDT' 'BUR' 'MSY'
 'MFR' 'CHO' 'SAV' 'PDX' 'MCI' 'HNL' 'OAK' 'CLL' 'HSV' 'BTR' 'ROC' 'LIT'
 'RSW' 'GSP' 'MHT' 'ACV' 'ONT' 'ORF' 'AZO' 'SNA' 'PVD' 'SRQ' 'DAL' 'BNA'
 'FAY' 'PIT' 'HOU' 'LGB' 'MIA' 'RNO' 'EVV' 'GRR' 'HPN' 'RAP' 'ASE' 'IND'
 'PHL' 'SGF' 'JAX' 'HTS' 'MDW' 'BOI' 'TXK' 'TOL' 'GRB' 'IDA' 'OGG' 'TUS'
 'SBA' 'PSP' 'TLH' 'LEX' 'BHM' 'GSO' 'LGA' 'ILM' 'MLI' 'MAF' 'SJU' 'CRW'
 'JAN' 'XNA' 'COS' 'LAN' 'CID' 'LWS' 'MCN' 'ANC' 'LNK' 'PHF' 'TYS' 'LIH'
 'GJT' 'TUP' 'PNS' 'EWR' 'PSC' 'LFT' 'ITO' 'HRL' 'BWI' 'GRK' 'CHA' 'MGM'
 'CRP' 'ABY' 'FAI' 'ABE' 'EYW' 'CDC' 'BRO' 'DSM' 'BFL' 'MSN' 'EUG' 'DHN'
 'OKC' 'IPL' 'KOA' 'TYR' 'MOD' 'CAK' 'GEG' 'SJT' 'DAY' 'LBB' 'HLN' 'TPA'
 'PFN' 'PIH' 'SBP' 'DAB' 'ACT' 'AVL' 'TWF' 'MSO' 'DBQ' 'CPR' 'MTJ' 'MLU'
 'CMH' 'HKY' 'SAT' 'CLE' 'OXR' 'BTV' 'ROA' 'CVG' 'JNU' 'STL' 'ALO' 'LSE'
 'FAR' 'FNT' 'MBS' 'GTF' 'BGM' 'DRO' 'PIA' 'SPS' 'STT' 'AGS' 'ICT' 'BIS'
 'BTM' 'MKE' 'LCH' 'RST' 'FLG' 'BIL' 'AVP' 'ISP' 'EKO' 'BUF' 'SHV' 'VLD'
 'AEX' 'BPT' 'ERI' 'OMA' 'ABI' 'SIT' 'CSG' 'SMX' 'CMI' 'MOB' 'PIE' 'AMA'
 'MFE' 'ACY' 'FLO' 'LAW' 'KTN' 'CEC' 'MOT' 'FSM' 'DLH' 'RDD' 'GGG' 'TRI'
 'TVC' 'CDV' 'GFK' 'SPI' 'SCC' 'SBN' 'HVN' 'MEI' 'FWA' 'FSD' 'RFD' 'STX'
 'APF' 'TTN' 'ILG' 'BLI' 'VCT' 'ELM' 'PLN' 'SYR' 'OME' 'ACK' 'CHS' 'PMD'
 'OTZ' 'EWN' 'CMX' 'BET' 'SLE' 'EAU' 'SUX' 'BRW' 'ADQ' 'AKN' 'YAK' 'MTH'
 'RHI' 'YKM' 'MKC' 'INL' 'CKB' 'CYS' 'GLH' 'ROW' 'OGD']
['DBQ' 'GSP' 'ONT' 'KTN' 'IAD' 'GRK' 'OAK' 'CLL' 'JNU' 'LEX' 'MLI' 'MRY'
 'RDD' 'IND' 'STT' 'SGF' 'RAP' 'MBS' 'SAN' 'DCA' 'SJT' 'ANC' 'HRL' 'DAL'
 'BIL' 'AGS' 'TOL' 'HSV' 'LAW' 'PIT' 'CID' 'MFE' 'AEX' 'RST' 'TWF' 'MTJ'
 'DHN' 'ACT' 'CHS' 'FLO' 'STX' 'ORF' 'MOT' 'GGG' 'ADQ' 'HPN' 'EKO' 'BZN'
 'CAK' 'ABE' 'GJT' 'MFR' 'TYR' 'ROA' 'ILM' 'HTS' 'BRO' 'LWS' 'OXR' 'TUP'
 'RDM' 'ELM' 'SPS' 'LSE' 'VCT' 'ABY' 'MEI' 'CEC' 'CDV' 'GFK']
                 time  temperature      snow      wind      Year     Month  \
time         1.000000    -0.002524  0.001829  0.000272 -0.003129 -0.002518
temperature -0.002524     1.000000 -0.364028 -0.164125 -0.033681  0.244534
snow         0.001829    -0.364028  1.000000  0.070479 -0.001600 -0.125229
wind         0.000272    -0.164125  0.070479  1.000000  0.053143 -0.087702
Year        -0.003129    -0.033681 -0.001600  0.053143  1.000000 -0.266685
Month       -0.002518     0.244534 -0.125229 -0.087702 -0.266685  1.000000
Day         -0.000985     0.011105 -0.006084 -0.012129 -0.025944  0.007753

                  Day
time        -0.000985
temperature  0.011105
snow        -0.006084
wind        -0.012129
Year        -0.025944
Month        0.007753
Day          1.000000

In [16]:
# take subset of weather for 1 year - arbitrarily chose 2006 - 10.2 million rows now
"""
weather = weather[weather["Year"] == 2006]
print weather.shape
weather.head()
"""

'\nweather = weather[weather["Year"] == 2006]\nprint weather.shape\nweather.head()\n'

In [17]:
# distribution of missing values across months - very evenly spread
print weather[pd.isnull(weather["snow"])]["Month"].value_counts()

1     1902123
5     1881848
3     1875629
6     1858862
4     1795717
7     1679191
2     1670153
8     1295434
11    1218539
10    1199419
9     1195935
12    1169411
Name: Month, dtype: int64

In [ ]:
# imputing missing values for "snow" - 18,742,261 missing (71.5% of dataset)
# UPDATE: now 7221183 missing for 2006 subset

# subset of weather dataset where there was snow fall
snow_fall = weather[weather['snow'] > 0]
print snow_fall.shape

# assuming the snow pattern is similar year on year for simplicity (could distinguish years if wanted to)
# group by airport and month, and find max temperature where there was snow and average snow fall
max_snow_temp = snow_fall.groupby(['airport', 'Month']).agg({'temperature': max, 'snow': np.mean}).reset_index()
print max_snow_temp.head()

### LOGIC:
# in the weather data, if there is a missing value present for snow fall...
# for the corresponding airport/month of year if the temperature is beyond the max temp where there was snow fall...
# safely assume there is no snow fall
# otherwise if the temperature is lower, then take the average snow fall amount
# and if there is no data for snow fall for a given airport in a given month, then assume there is no snow fall
# assuming that no other external factors influence snow fall - ideal scenario

# very computationally expensive

def snow_impute(airport, month, temperature, snow):
    if pd.isnull(snow):
        subset = max_snow_temp[(max_snow_temp['airport'] == airport) & (max_snow_temp['Month'] == month)]
        if subset.shape[0] > 0:
            if temperature > subset['temperature'].values[0]:
                return 0.0
            else:
                return subset['snow'].values[0]
        else:
            return 0.0
    else:
        return snow
    
weather['snow_imputed'] = weather[['airport', 'Month', 'temperature', 'snow']].apply(lambda x: snow_impute(x[0],x[1],x[2],x[3]), axis=1)

# observe missing values after imputing
print weather.isnull().sum()

In [18]:
# imputing missing values for "wind" - 6486 missing (0.025% of dataset)
# these values will be imputed with zero as it only represents a small portion of the dataset
# and an aggregation will be perfomed at a daily level which should absorb the discrepancies

def wind_impute(x):
    if pd.isnull(x):
        return 0.0
    else:
        return x

# a more computationally expensive method would be to impute the missing value with e.g. the min/mean wind speed
# for that particular day

weather['wind'] = weather['wind'].apply(lambda x: wind_impute(x))

# check that missing values accounted for
print weather.isnull().sum()

Date                  0
airport               0
time                  0
temperature           0
snow           18742261
wind                  0
Year                  0
Month                 0
Day                   0
dtype: int64

In [19]:
# group up weather at a daily level
# weather_grouped = weather.groupby(["airport", "Year", "Month", "Day"]).agg({"snow": "mean", "temperature": "mean"}).reset_index()

weather_grouped = weather.groupby(["airport", "Date"]).agg({"wind": "mean", "temperature": "mean"}).reset_index()

weather_grouped.head()

  airport       Date  temperature  wind
0     ABE 2005-01-01         48.0   4.3
1     ABE 2005-01-02         34.0   1.7
2     ABE 2005-01-03         44.0   0.6
3     ABE 2005-01-04         44.0   2.3
4     ABE 2005-01-05         37.0   6.8

In [20]:
weather_grouped.shape

(227711, 4)

In [21]:
# frequency of flight routes
print data['Route'].value_counts()

# determine if there were flights that landed in states that deviate from the recorded route
data['Route_from'], data['Route_to'] = data['Route'].str.split(' to ', 1).str
# the arrival state in "Route" does indeed match "Arrival_state"
print data['Route_to'].equals(data['Arrival_state'])

CA to CA    384121
CA to AZ    358621
TX to TX    318147
GA to FL    202044
FL to NC    147301
CA to CO    140405
TX to AZ    137059
TX to LA    128440
TX to CO    123026
FL to PA    120084
FL to GA    115160
TX to OK    111582
AK to AK    103577
TX to GA    102878
WA to CA     96211
VA to NC     90287
PA to NC     88646
IL to PA     83621
NC to GA     80372
TX to FL     80311
GA to GA     77986
TX to CA     77679
TX to NC     76046
NV to CA     75000
FL to KY     71003
CO to CA     66449
WA to AK     66445
AZ to CA     65541
GA to PA     64629
UT to AZ     64535
             ...
FL to MO        12
PR to KY        11
OH to OK        10
LA to LA        10
AL to LA        10
MN to ME        10
NH to MA         8
CA to MO         5
FL to LA         5
SC to LA         4
MT to AZ         4
MS to FL         4
RI to MA         3
NE to IA         3
NC to LA         2
AR to LA         2
AL to FL         2
ID to NV         2
AL to MS         2
IN to MI         1
LA to FL         1
WV to GA         1
VT to NY         1
IN to IA         1
ME to ME         1
SD to WI         1
PR to FL         1
IL to NM         1
KS to OK         1
RI to IN         1
Name: Route, dtype: int64
True

In [22]:
# possible values and frequencies for path_order
data["Path_order"].value_counts()

1    9686071
2     313914
Name: Path_order, dtype: int64

<h4>Appending data from external sources</h4>

In [23]:
# use state mapping df for departure/arrival US state abbreviations
# data["Arrival_State_Name"] = data["Arrival_state"].apply(lambda x: states.loc[str(x)].values[0])
# data["Departure_State_Name"] = data["Departure_State"].apply(lambda x: states.loc[str(x)].values[0])

# faster than the above
data = left_join(data, states, "Arrival_state", "Abbreviation")
data = data.rename(columns={'State': 'Arrival_State_Name'})

data = left_join(data, states, "Departure_State", "Abbreviation")
data = data.rename(columns={'State': 'Departure_State_Name'})

In [24]:
# checking if the Longitude and Latitude columns are different to DC_Longitude and DC_Latitude
# 'False' in both cases
print data['DC_Longitude'].equals(data['Longitude'])
print data['DC_Latitude'].equals(data['Latitude'])

# checking rows where DC_Longitude and DC_Latitude and not equal to Longitude and Latitude
print data[data['DC_Longitude'] != data['Longitude']]
# these are rows where Path_order = 2 is specified, however only 313914 have path_order = 2

# therefore, use DC_Longitude and DC_Latitude as the departure airport coordinates
data = data.rename(columns={'DC_Longitude': 'Departure_Longitude', 'DC_Latitude': 'Departure_Latitude'})
del data['Longitude']
del data['Latitude']

# delete path_order = 2 rows, as it is not a complete view, and can be re-computed later
del data['Path_order']
s1 = data.shape[0]
data = data.drop_duplicates()
s2 = data.shape[0]
print "Before: {}, After: {}".format(s1,s2)
# now we should have 1 row per 1 flight

# use the airport_codes dataset to determine long/lat for arrival airports
data = left_join(data, airport_codes[['iata_code', 'longitude', 'latitude', 'name']], 'Arrival_airport', 'iata_code')
data = data.rename(columns={'name': 'Arrival_Airport_Name', 'latitude': 'Arrival_Latitude', 'longitude': 'Arrival_Longitude'})

# retrieve airport name for departure airport as well
data = left_join(data, airport_codes[['iata_code', 'name']], 'Departure_Airport', 'iata_code')
data = data.rename(columns={'name': 'Departure_Airport_Name'})

# checks:
# search_airport('HNL')
# search_airport('SAN')

False
False
              Date Airline Airline_code Arrival_airport Arrival_state  \
15542   2003-12-28      OO        20304             SJT            TX
15543   2004-06-17      OO        20304             SJT            TX
15544   2004-06-28      XE        20374             SJT            TX
15545   2004-06-23      XE        20374             SJT            TX
15546   2004-06-08      OO        20304             SJT            TX
15547   2005-05-17      OO        20304             SJT            TX
15548   2005-05-25      OO        20304             SJT            TX
15549   2005-05-26      OO        20304             SJT            TX
15550   2003-11-28      OO        20304             SJT            TX
15551   2003-11-19      OO        20304             SJT            TX
15552   2004-07-24      OO        20304             SJT            TX
15553   2004-05-24      OO        20304             SJT            TX
15554   2004-07-01      OO        20304             SJT            TX
15555   2004-05-12      XE        20374             SJT            TX
15556   2004-08-30      OO        20304             SJT            TX
15557   2004-09-28      XE        20374             SJT            TX
15558   2005-06-05      OO        20304             SJT            TX
15559   2005-06-02      OO        20304             SJT            TX
15560   2005-03-03      OO        20304             SJT            TX
15561   2005-06-15      OO        20304             SJT            TX
15562   2004-08-04      XE        20374             SJT            TX
15563   2005-06-10      OO        20304             SJT            TX
15564   2005-02-01      OO        20304             SJT            TX
15565   2004-02-15      OO        20304             SJT            TX
15566   2004-03-02      OO        20304             SJT            TX
15567   2005-02-14      OO        20304             SJT            TX
15568   2005-02-03      OO        20304             SJT            TX
15569   2004-12-12      OO        20304             SJT            TX
15570   2004-02-05      OO        20304             SJT            TX
15571   2004-11-07      OO        20304             SJT            TX
...            ...     ...          ...             ...           ...
9894797 2004-09-11      WN        19393             TUL            OK
9894798 2005-02-24      WN        19393             TUL            OK
9894799 2004-09-12      WN        19393             TUL            OK
9894800 2009-02-27      WN        19393             TUL            OK
9894801 2010-03-07      WN        19393             TUL            OK
9894802 2012-04-21      WN        19393             TUL            OK
9894803 2012-03-27      WN        19393             TUL            OK
9894804 2010-09-30      WN        19393             TUL            OK
9894805 2010-04-08      WN        19393             TUL            OK
9894806 2010-03-06      WN        19393             TUL            OK
9894807 2010-04-05      WN        19393             TUL            OK
9894808 2012-04-22      WN        19393             TUL            OK
9894809 2012-04-19      WN        19393             TUL            OK
9894810 2012-04-19      WN        19393             TUL            OK
9894811 2010-04-22      WN        19393             TUL            OK
9894812 2004-01-21      WN        19393             TUL            OK
9894813 2010-04-21      WN        19393             TUL            OK
9894814 2003-09-21      WN        19393             TUL            OK
9894815 2010-04-21      WN        19393             TUL            OK
9894816 2010-04-29      WN        19393             TUL            OK
9894817 2004-01-06      WN        19393             TUL            OK
9894818 2009-02-10      WN        19393             TUL            OK
9894819 2003-10-31      WN        19393             TUL            OK
9894820 2003-10-18      WN        19393             TUL            OK
9894821 2003-10-17      WN        19393             TUL            OK
9894822 2003-10-20      WN        19393             TUL            OK
9894823 2003-10-21      WN        19393             TUL            OK
9894824 2010-04-14      WN        19393             TUL            OK
9894825 2010-04-24      WN        19393             TUL            OK
9894826 2003-10-03      WN        19393             TUL            OK

        Departure_Airport Departure_State  Departure_actual  Departure_delay  \
15542                 IAH              TX            2045.0              0.0
15543                 IAH              TX            1430.0              0.0
15544                 IAH              TX            2209.0             59.0
15545                 IAH              TX            2245.0             95.0
15546                 IAH              TX             910.0              0.0
15547                 IAH              TX            1435.0              5.0
15548                 IAH              TX            2113.0             -2.0
15549                 IAH              TX            2136.0             21.0
15550                 IAH              TX            1840.0              0.0
15551                 IAH              TX             910.0              0.0
15552                 IAH              TX            1140.0              0.0
15553                 IAH              TX            1427.0              0.0
15554                 IAH              TX             910.0              0.0
15555                 IAH              TX            2048.0            -12.0
15556                 IAH              TX             910.0              0.0
15557                 IAH              TX            2108.0             -2.0
15558                 IAH              TX            1426.0             -4.0
15559                 IAH              TX            2103.0            -12.0
15560                 IAH              TX            2110.0             -5.0
15561                 IAH              TX            2114.0             -6.0
15562                 IAH              TX            2101.0             -9.0
15563                 IAH              TX            2113.0             -7.0
15564                 IAH              TX            2108.0             -7.0
15565                 IAH              TX            2045.0              0.0
15566                 IAH              TX             910.0              0.0
15567                 IAH              TX            1425.0             -5.0
15568                 IAH              TX            1425.0             -5.0
15569                 IAH              TX            1430.0             -5.0
15570                 IAH              TX             905.0              0.0
15571                 IAH              TX            1456.0             21.0
...                   ...             ...               ...              ...
9894797               DAL              TX             920.0              0.0
9894798               DAL              TX            1840.0             15.0
9894799               DAL              TX            2115.0              0.0
9894800               DAL              TX             715.0              0.0
9894801               DAL              TX            1841.0             21.0
9894802               DAL              TX             758.0             -2.0
9894803               DAL              TX             859.0              4.0
9894804               DAL              TX            1650.0              0.0
9894805               DAL              TX            1439.0              9.0
9894806               DAL              TX            1839.0             -1.0
9894807               DAL              TX            1039.0             -1.0
9894808               DAL              TX            1758.0              3.0
9894809               DAL              TX            1617.0             -3.0
9894810               DAL              TX             619.0             -1.0
9894811               DAL              TX            1253.0              3.0
9894812               DAL              TX            1730.0              0.0
9894813               DAL              TX            2005.0              5.0
9894814               DAL              TX            1610.0              0.0
9894815               DAL              TX            1647.0             17.0
9894816               DAL              TX            1251.0              1.0
9894817               DAL              TX            1730.0              0.0
9894818               DAL              TX             924.0             -1.0
9894819               DAL              TX            1132.0             12.0
9894820               DAL              TX            1125.0              0.0
9894821               DAL              TX            1915.0              0.0
9894822               DAL              TX            1952.0             37.0
9894823               DAL              TX            1915.0              0.0
9894824               DAL              TX            1430.0              0.0
9894825               DAL              TX            1421.0             16.0
9894826               DAL              TX            1730.0              0.0

         Arrival_actual          ...           Latitude     Route  Path_order  \
15542            2236.0          ...              31.35  TX to TX           2
15543            1633.0          ...              31.35  TX to TX           2
15544            2327.0          ...              31.35  TX to TX           2
15545               3.0          ...              31.35  TX to TX           2
15546            1033.0          ...              31.35  TX to TX           2
15547            1600.0          ...              31.35  TX to TX           2
15548            2236.0          ...              31.35  TX to TX           2
15549            2303.0          ...              31.35  TX to TX           2
15550            2014.0          ...              31.35  TX to TX           2
15551            1044.0          ...              31.35  TX to TX           2
15552            1310.0          ...              31.35  TX to TX           2
15553            1551.0          ...              31.35  TX to TX           2
15554            1037.0          ...              31.35  TX to TX           2
15555            2156.0          ...              31.35  TX to TX           2
15556            1030.0          ...              31.35  TX to TX           2
15557            2227.0          ...              31.35  TX to TX           2
15558            1543.0          ...              31.35  TX to TX           2
15559            2229.0          ...              31.35  TX to TX           2
15560            2236.0          ...              31.35  TX to TX           2
15561            2250.0          ...              31.35  TX to TX           2
15562            2220.0          ...              31.35  TX to TX           2
15563            2234.0          ...              31.35  TX to TX           2
15564            2251.0          ...              31.35  TX to TX           2
15565            2208.0          ...              31.35  TX to TX           2
15566            1042.0          ...              31.35  TX to TX           2
15567            1554.0          ...              31.35  TX to TX           2
15568            1551.0          ...              31.35  TX to TX           2
15569            1558.0          ...              31.35  TX to TX           2
15570            1040.0          ...              31.35  TX to TX           2
15571            1626.0          ...              31.35  TX to TX           2
...                 ...          ...                ...       ...         ...
9894797          1017.0          ...              36.19  TX to OK           2
9894798          1930.0          ...              36.19  TX to OK           2
9894799          2206.0          ...              36.19  TX to OK           2
9894800           803.0          ...              36.19  TX to OK           2
9894801          1934.0          ...              36.19  TX to OK           2
9894802           854.0          ...              36.19  TX to OK           2
9894803           952.0          ...              36.19  TX to OK           2
9894804          1743.0          ...              36.19  TX to OK           2
9894805          1537.0          ...              36.19  TX to OK           2
9894806          1928.0          ...              36.19  TX to OK           2
9894807          1136.0          ...              36.19  TX to OK           2
9894808          1849.0          ...              36.19  TX to OK           2
9894809          1716.0          ...              36.19  TX to OK           2
9894810           708.0          ...              36.19  TX to OK           2
9894811          1343.0          ...              36.19  TX to OK           2
9894812          1820.0          ...              36.19  TX to OK           2
9894813          2103.0          ...              36.19  TX to OK           2
9894814          1722.0          ...              36.19  TX to OK           2
9894815          1738.0          ...              36.19  TX to OK           2
9894816          1347.0          ...              36.19  TX to OK           2
9894817          1818.0          ...              36.19  TX to OK           2
9894818          1018.0          ...              36.19  TX to OK           2
9894819          1219.0          ...              36.19  TX to OK           2
9894820          1218.0          ...              36.19  TX to OK           2
9894821          2005.0          ...              36.19  TX to OK           2
9894822          2038.0          ...              36.19  TX to OK           2
9894823          2006.0          ...              36.19  TX to OK           2
9894824          1520.0          ...              36.19  TX to OK           2
9894825          1512.0          ...              36.19  TX to OK           2
9894826          1825.0          ...              36.19  TX to OK           2

         Year  Month  Day  Route_from Route_to Arrival_State_Name  \
15542    2003     12   28          TX       TX              Texas
15543    2004      6   17          TX       TX              Texas
15544    2004      6   28          TX       TX              Texas
15545    2004      6   23          TX       TX              Texas
15546    2004      6    8          TX       TX              Texas
15547    2005      5   17          TX       TX              Texas
15548    2005      5   25          TX       TX              Texas
15549    2005      5   26          TX       TX              Texas
15550    2003     11   28          TX       TX              Texas
15551    2003     11   19          TX       TX              Texas
15552    2004      7   24          TX       TX              Texas
15553    2004      5   24          TX       TX              Texas
15554    2004      7    1          TX       TX              Texas
15555    2004      5   12          TX       TX              Texas
15556    2004      8   30          TX       TX              Texas
15557    2004      9   28          TX       TX              Texas
15558    2005      6    5          TX       TX              Texas
15559    2005      6    2          TX       TX              Texas
15560    2005      3    3          TX       TX              Texas
15561    2005      6   15          TX       TX              Texas
15562    2004      8    4          TX       TX              Texas
15563    2005      6   10          TX       TX              Texas
15564    2005      2    1          TX       TX              Texas
15565    2004      2   15          TX       TX              Texas
15566    2004      3    2          TX       TX              Texas
15567    2005      2   14          TX       TX              Texas
15568    2005      2    3          TX       TX              Texas
15569    2004     12   12          TX       TX              Texas
15570    2004      2    5          TX       TX              Texas
15571    2004     11    7          TX       TX              Texas
...       ...    ...  ...         ...      ...                ...
9894797  2004      9   11          TX       OK           Oklahoma
9894798  2005      2   24          TX       OK           Oklahoma
9894799  2004      9   12          TX       OK           Oklahoma
9894800  2009      2   27          TX       OK           Oklahoma
9894801  2010      3    7          TX       OK           Oklahoma
9894802  2012      4   21          TX       OK           Oklahoma
9894803  2012      3   27          TX       OK           Oklahoma
9894804  2010      9   30          TX       OK           Oklahoma
9894805  2010      4    8          TX       OK           Oklahoma
9894806  2010      3    6          TX       OK           Oklahoma
9894807  2010      4    5          TX       OK           Oklahoma
9894808  2012      4   22          TX       OK           Oklahoma
9894809  2012      4   19          TX       OK           Oklahoma
9894810  2012      4   19          TX       OK           Oklahoma
9894811  2010      4   22          TX       OK           Oklahoma
9894812  2004      1   21          TX       OK           Oklahoma
9894813  2010      4   21          TX       OK           Oklahoma
9894814  2003      9   21          TX       OK           Oklahoma
9894815  2010      4   21          TX       OK           Oklahoma
9894816  2010      4   29          TX       OK           Oklahoma
9894817  2004      1    6          TX       OK           Oklahoma
9894818  2009      2   10          TX       OK           Oklahoma
9894819  2003     10   31          TX       OK           Oklahoma
9894820  2003     10   18          TX       OK           Oklahoma
9894821  2003     10   17          TX       OK           Oklahoma
9894822  2003     10   20          TX       OK           Oklahoma
9894823  2003     10   21          TX       OK           Oklahoma
9894824  2010      4   14          TX       OK           Oklahoma
9894825  2010      4   24          TX       OK           Oklahoma
9894826  2003     10    3          TX       OK           Oklahoma

         Departure_State_Name
15542                   Texas
15543                   Texas
15544                   Texas
15545                   Texas
15546                   Texas
15547                   Texas
15548                   Texas
15549                   Texas
15550                   Texas
15551                   Texas
15552                   Texas
15553                   Texas
15554                   Texas
15555                   Texas
15556                   Texas
15557                   Texas
15558                   Texas
15559                   Texas
15560                   Texas
15561                   Texas
15562                   Texas
15563                   Texas
15564                   Texas
15565                   Texas
15566                   Texas
15567                   Texas
15568                   Texas
15569                   Texas
15570                   Texas
15571                   Texas
...                       ...
9894797                 Texas
9894798                 Texas
9894799                 Texas
9894800                 Texas
9894801                 Texas
9894802                 Texas
9894803                 Texas
9894804                 Texas
9894805                 Texas
9894806                 Texas
9894807                 Texas
9894808                 Texas
9894809                 Texas
9894810                 Texas
9894811                 Texas
9894812                 Texas
9894813                 Texas
9894814                 Texas
9894815                 Texas
9894816                 Texas
9894817                 Texas
9894818                 Texas
9894819                 Texas
9894820                 Texas
9894821                 Texas
9894822                 Texas
9894823                 Texas
9894824                 Texas
9894825                 Texas
9894826                 Texas

[313914 rows x 26 columns]
Before: 9999985, After: 9686071

In [25]:
# retrieve airline names using airlines dataframe
data = left_join(data, airlines[['Code', 'Name']], 'Airline_code', 'Code')
data = data.rename(columns={'Name': 'Airline_Name'})

In [26]:
# retrieve region names using regions dataframe
data = left_join(data, regions[['State Code', 'Region']], 'Arrival_state', 'State Code')
data = data.rename(columns={'Region': 'Arrival_Region'})

data = left_join(data, regions[['State Code', 'Region']], 'Departure_State', 'State Code')
data = data.rename(columns={'Region': 'Departure_Region'})

In [27]:
# check again if there are missing values
print data.isnull().sum()

# there are 5851 missing arrival airport names and corresponding long/lat - for "PSE" and "SOP"
# there are 32700 missing departure airport names - STX, SJU and STT
# UPDATE: these have been added to the airport_codes/states dataframe
# print data[pd.isnull(data["Arrival_Airport_Name"])]["Arrival_airport"].unique().tolist()
# print data[pd.isnull(data["Departure_Airport_Name"])]["Departure_Airport"].unique()

Date                      0
Airline                   0
Airline_code              0
Arrival_airport           0
Arrival_state             0
Departure_Airport         0
Departure_State           0
Departure_actual          0
Departure_delay           0
Arrival_actual            0
Arrival_delay             0
Arrival_schedule          0
Departure_schedule        0
Departure_Longitude       0
Departure_Latitude        0
Route                     0
Year                      0
Month                     0
Day                       0
Route_from                0
Route_to                  0
Arrival_State_Name        0
Departure_State_Name      0
Arrival_Longitude         0
Arrival_Latitude          0
Arrival_Airport_Name      0
Departure_Airport_Name    0
Airline_Name              0
Arrival_Region            0
Departure_Region          0
dtype: int64

In [ ]:
# sort values - computationally expensive (therefore not necessary)
data = data.sort_values(['Date', 'Departure_actual'])
weather = weather.sort_values(['Date', 'time'])

<h4>Additional feature engineering</h4>

In [28]:
# create binary flag columns for flight delay types, as well as overall delay time
data["Departure_Delayed"] = data["Departure_delay"].apply(lambda x: 1 if x > 0 else 0)
data["Arrival_Delayed"] = data["Arrival_delay"].apply(lambda x: 1 if x > 0 else 0)
data["Overall_Delay_Time"] = data[["Departure_delay", "Arrival_delay"]].apply(lambda x: x[0]+x[1], axis = 1)
data["Overall_Flight_Delayed"] = data[["Departure_delay", "Arrival_delay"]].apply(lambda x: 1 if x[0]+x[1] > 0 else 0, axis = 1)

In [29]:
data.head()

,Date,Airline,Airline_code,Arrival_airport,Arrival_state,Departure_Airport,Departure_State,Departure_actual,Departure_delay,Arrival_actual,...,Arrival_Latitude,Arrival_Airport_Name,Departure_Airport_Name,Airline_Name,Arrival_Region,Departure_Region,Departure_Delayed,Arrival_Delayed,Overall_Delay_Time,Overall_Flight_Delayed
0,2010-12-27,HA,19690,SAN,CA,HNL,HI,1311.0,1.0,2047.0,...,32.73,San Diego International Airport,Honolulu International Airport,Hawaiian Airlines Inc.,West,West,1,1,13.0,1
1,2004-04-10,HA,19690,SAN,CA,HNL,HI,1336.0,11.0,2146.0,...,32.73,San Diego International Airport,Honolulu International Airport,Hawaiian Airlines Inc.,West,West,1,1,22.0,1
2,2004-04-29,HA,19690,SAN,CA,HNL,HI,1404.0,39.0,2223.0,...,32.73,San Diego International Airport,Honolulu International Airport,Hawaiian Airlines Inc.,West,West,1,1,87.0,1
3,2008-09-09,HA,19690,SAN,CA,HNL,HI,1333.0,-2.0,2147.0,...,32.73,San Diego International Airport,Honolulu International Airport,Hawaiian Airlines Inc.,West,West,0,0,-5.0,0
4,2011-03-30,HA,19690,SAN,CA,HNL,HI,1314.0,-1.0,2158.0,...,32.73,San Diego International Airport,Honolulu International Airport,Hawaiian Airlines Inc.,West,West,0,1,22.0,1

In [ ]:
data.to_csv('data-flights-final.csv', index = False)

In [ ]:
weather_grouped.to_csv('weather-data-daily-final.csv', index = False)

<h3>NLP analysis on airling ratings</h3>

In [30]:
# import relevant libraries for NLP analysis
import re
import sklearn
import nltk
from nltk.corpus import stopwords
from nltk import WordNetLemmatizer, word_tokenize
from textblob import TextBlob
from sklearn.feature_extraction.text import CountVectorizer

In [31]:
relevant_airlines = data[["Airline_Name", "Airline"]].drop_duplicates().sort_values("Airline_Name")
relevant_airlines

                        Airline_Name Airline
1671310                 ATA Airlines      TZ
43329    AirTran Airways Corporation      FL
12              Alaska Airlines Inc.      AS
69940     America West Airlines Inc.      HP
84411         American Airlines Inc.      AA
2425                     Comair Inc.      OH
62043     Continental Air Lines Inc.      CO
43459           Delta Air Lines Inc.      DL
81014              Endeavor Air Inc.      9E
15575                      Envoy Air      MQ
630         ExpressJet Airlines Inc.      EV
9186        ExpressJet Airlines Inc.      XE
75901         Frontier Airlines Inc.      F9
0             Hawaiian Airlines Inc.      HA
25059               Independence Air      DH
76100                JetBlue Airways      B6
79731             Mesa Airlines Inc.      YV
142940       Northwest Airlines Inc.      NW
145            SkyWest Airlines Inc.      OO
15526         Southwest Airlines Co.      WN
69773                US Airways Inc.      US
13             United Air Lines Inc.      UA
1741167               Virgin America      VX

In [32]:
# this data was manually filtered for relevant airlines (as there was no key/code)
reviews = pd.read_csv('airline_ratings_subset.csv', header = 0)
print reviews.shape

(4283, 4)

In [33]:
reviews.head()

,airline_name,date,content,overall_rating
0,alaska-airlines,26/07/15,Checked into Alaska Airlines at the Santa Rosa...,1.0
1,alaska-airlines,23/07/15,"Short one and half hour flight, seats were com...",8.0
2,alaska-airlines,15/07/15,Flew down to Louisville from Anchorage with a ...,9.0
3,alaska-airlines,12/07/15,"One way, PDX-LAX. Everything was smooth sailin...",7.0
4,alaska-airlines,11/07/15,LAX-SEA on the 737-800. Flew on 4th of July an...,10.0

In [34]:
# impute missing ratings with zero
print reviews.isnull().sum()

reviews["overall_rating"] = reviews["overall_rating"].apply(lambda x: 0.0 if pd.isnull(x) else x)

print reviews.isnull().sum()

airline_name        0
date                0
content             0
overall_rating    603
dtype: int64
airline_name      0
date              0
content           0
overall_rating    0
dtype: int64

In [35]:
# typecast
reviews["date"] = pd.to_datetime(reviews["date"], format = "%d/%m/%y")
reviews["month"] = reviews["date"].dt.month
reviews["year"] = reviews["date"].dt.year
reviews["day"] = reviews["date"].dt.day

# for ease of use in Tableau
reviews["month_year"] = reviews[["month", "year"]].apply(lambda x: "1-"+str(x[0])+"-"+str(x[1]), axis = 1)
reviews

,airline_name,date,content,overall_rating,month,year,day,month_year
0,alaska-airlines,2015-07-26,Checked into Alaska Airlines at the Santa Rosa...,1.0,7,2015,26,1-7-2015
1,alaska-airlines,2015-07-23,"Short one and half hour flight, seats were com...",8.0,7,2015,23,1-7-2015
2,alaska-airlines,2015-07-15,Flew down to Louisville from Anchorage with a ...,9.0,7,2015,15,1-7-2015
3,alaska-airlines,2015-07-12,"One way, PDX-LAX. Everything was smooth sailin...",7.0,7,2015,12,1-7-2015
4,alaska-airlines,2015-07-11,LAX-SEA on the 737-800. Flew on 4th of July an...,10.0,7,2015,11,1-7-2015
5,alaska-airlines,2015-06-21,Just returned to the Greatland having flown wh...,9.0,6,2015,21,1-6-2015
6,alaska-airlines,2015-05-18,Returned recently from a trip to SEA from ANC ...,9.0,5,2015,18,1-5-2015
7,alaska-airlines,2015-05-16,Flight 893 9 May. I don't fly Alaska at all as...,10.0,5,2015,16,1-5-2015
8,alaska-airlines,2015-05-11,Flight AS838 on 6 May. Flew Alaska from Honolu...,9.0,5,2015,11,1-5-2015
9,alaska-airlines,2015-04-27,Flew with family SJC-Honolulu then returned to...,8.0,4,2015,27,1-4-2015
10,alaska-airlines,2015-04-27,Upgraded to first class for our flight from SE...,8.0,4,2015,27,1-4-2015
11,alaska-airlines,2015-04-10,Flew First LA to Pueto Vallarta and had severa...,0.0,4,2015,10,1-4-2015
12,alaska-airlines,2015-03-04,Kona - Oakland First class. What an improvemen...,10.0,3,2015,4,1-3-2015
13,alaska-airlines,2015-03-04,Great service Seattle to Kona. Major upgrade i...,10.0,3,2015,4,1-3-2015
14,alaska-airlines,2015-02-24,I recently flew first class from Cancun Mexico...,1.0,2,2015,24,1-2-2015
15,alaska-airlines,2015-01-23,I had never flown Alaska before this past 2014...,9.0,1,2015,23,1-1-2015
16,alaska-airlines,2015-01-21,Yesterday January 19 2015 I flew Flight 16 fro...,10.0,1,2015,21,1-1-2015
17,alaska-airlines,2015-01-14,Travelled from Philadelphia to Maui via Seattl...,5.0,1,2015,14,1-1-2015
18,alaska-airlines,2015-01-11,Returned early this morning from my flight Red...,9.0,1,2015,11,1-1-2015
19,alaska-airlines,2015-01-05,Flew LAX-SEA-BLI on B737-900. Took the offer o...,9.0,1,2015,5,1-1-2015
20,alaska-airlines,2015-01-05,SEA to IAH return. First time flying on Alaska...,7.0,1,2015,5,1-1-2015
21,alaska-airlines,2015-01-05,Flew BLI-SEA-SNA. Bellingham to Seattle on Hor...,9.0,1,2015,5,1-1-2015
22,alaska-airlines,2014-12-29,Left Santa Ana late because plane arrived late...,10.0,12,2014,29,1-12-2014
23,alaska-airlines,2014-12-22,SEA-IAH first class 739 equipment. Boarding wa...,6.0,12,2014,22,1-12-2014
24,alaska-airlines,2014-12-10,Recently traveled for the first time on an Ala...,10.0,12,2014,10,1-12-2014
25,alaska-airlines,2014-12-10,12/1/14 ORD-SEA Flt 29. Arrived at the airport...,3.0,12,2014,10,1-12-2014
26,alaska-airlines,2014-12-10,12/4/14 SEA to ORD Flt 22. When checking in on...,3.0,12,2014,10,1-12-2014
27,alaska-airlines,2014-12-04,SEA-LAX. Standard seating food etc for a 2.5 h...,8.0,12,2014,4,1-12-2014
28,alaska-airlines,2014-12-01,Traveled first class San Diego to Boston on 11...,9.0,12,2014,1,1-12-2014
29,alaska-airlines,2014-11-11,Flew one of the Alaska/Horizon regional routes...,7.0,11,2014,11,1-11-2014
...,...,...,...,...,...,...,...,...
4253,virgin-america,2010-09-27,LAX-Seattle round trip the same day. I was sea...,9.0,9,2010,27,1-9-2010
4254,virgin-america,2010-09-17,IAD-LAX-IAD. Check-in efficient and personable...,9.0,9,2010,17,1-9-2010
4255,virgin-america,2010-08-12,BOS-SFO-LAX and back. Upbeat staff new aircraf...,10.0,8,2010,12,1-8-2010
4256,virgin-america,2010-08-12,I have recently flown VA three times FLL-SFO. ...,8.0,8,2010,12,1-8-2010
4257,virgin-america,2010-08-10,BOS-LAX flew Virgin for the second time. Great...,7.0,8,2010,10,1-8-2010
4258,virgin-america,2010-07-21,LAX-SFO-LAX with new A320. Everything on time ...,10.0,7,2010,21,1-7-2010
4259,virgin-america,2010-07-19,SFO-SEA and return. Virgin America leaves the ...,10.0,7,2010,19,1-7-2010
4260,virgin-america,2010-07-17,FLL-LAX and return last week. Everything went ...,10.0,7,2010,17,1-7-2010
4261,virgin-america,2010-06-20,LAX to Washington (IAD) return as our feeder s...,10.0,6,2010,20,1-6-2010
4262,virgin-america,2010-06-06,LAS-SFO return. Fabulous experience even thoug...,10.0,6,2010,6,1-6-2010
4263,virgin-america,2010-04-19,LAX-SFO and SFO-JFK. Upgraded Main Cabin to Fi...,9.0,4,2010,19,1-4-2010
4264,virgin-america,2010-03-31,I have been both Main Cabin and First Class an...,9.0,3,2010,31,1-3-2010
4265,virgin-america,2010-03-11,LAX-SEA round trip our first flight with our 3...,10.0,3,2010,11,1-3-2010
4266,virgin-america,2010-03-04,LAX-IAD-LAX roundtrip first class. Virgin Amer...,10.0,3,2010,4,1-3-2010
4267,virgin-america,2010-02-11,I arranged for my 83 year old Mother to visit ...,10.0,2,2010,11,1-2-2010
4268,virgin-america,2010-02-08,SFO-LAX return. Easy quick and enjoyable. It i...,10.0,2,2010,8,1-2-2010
4269,virgin-america,2010-01-29,I was surprised how convenient and friendly th...,10.0,1,2010,29,1-1-2010
4270,virgin-america,2010-01-24,LAX-JFK was very impressed from start to finis...,9.0,1,2010,24,1-1-2010
4271,virgin-america,2010-01-23,FLL to SFO economy. Very good value for money....,9.0,1,2010,23,1-1-2010
4272,virgin-america,2010-01-19,LAX-SFO-LAX. Quick boarding friendly staff. I ...,9.0,1,2010,19,1-1-2010
4273,virgin-america,2009-12-13,SEA-LAX-SEA in November. Boarding a breeze. Ca...,9.0,12,2009,13,1-12-2009
4274,virgin-america,2009-12-04,SFO-LAX-JFK. I had high hopes for this carrier...,1.0,12,2009,4,1-12-2009
4275,virgin-america,2009-12-04,FLL-LAX. Although the crew were not quite as v...,9.0,12,2009,4,1-12-2009
4276,virgin-america,2009-11-30,JFK-SFO one way. I flew jetBlue out to Boston ...,2.0,11,2009,30,1-11-2009
4277,virgin-america,2009-11-23,SEA-SFO-LAS. I had high hopes for this carrier...,2.0,11,2009,23,1-11-2009
4278,virgin-america,2009-11-21,First class San Francisco to Las Vegas return....,10.0,11,2009,21,1-11-2009
4279,virgin-america,2009-10-26,JFK-SFO. Not one person at JFK knew how to han...,0.0,10,2009,26,1-10-2009
4280,virgin-america,2009-10-23,SAN-SFO. Great check in and upgraded for small...,9.0,10,2009,23,1-10-2009
4281,virgin-america,2009-10-18,SEA-LAX and back. Flying with two toddlers was...,6.0,10,2009,18,1-10-2009
4282,virgin-america,2009-10-18,JFK-LAS. The staff were okay not Southwest sty...,9.0,10,2009,18,1-10-2009

In [36]:
reviews.dtypes

airline_name              object
date              datetime64[ns]
content                   object
overall_rating           float64
month                      int64
year                       int64
day                        int64
month_year                object
dtype: object

In [37]:
# there are reviews for 13 of the 23 airlines we are concerned with
print reviews["airline_name"].nunique()
print reviews["airline_name"].value_counts()

13
united-airlines         840
american-airlines       612
delta-air-lines         466
us-airways              425
frontier-airlines       417
southwest-airlines      379
jetblue-airways         237
alaska-airlines         236
hawaiian-airlines       234
virgin-america          225
continental-airlines    156
skywest-airlines         35
comair                   21
Name: airline_name, dtype: int64

In [38]:
# dictionary that maps airline names from the reviews file to an airline abbreviation
review_airline_dict = {
    "united-airlines": "UA",
    "american-airlines": "AA",
    "delta-air-lines": "DL",
    "us-airways": "US",
    "frontier-airlines": "F9",
    "southwest-airlines": "WN",
    "jetblue-airways": "B6",
    "alaska-airlines": "AS",
    "hawaiian-airlines": "HA",
    "virgin-america": "VX",
    "continental-airlines": "CO",
    "skywest-airlines": "OO",
    "comair": "OH"
}

# obtain airline name and abbreviation
reviews["airline"] = reviews["airline_name"].apply(lambda x: review_airline_dict[x])
reviews = left_join(reviews, relevant_airlines, 'airline', 'Airline')

<h4>Cleaning of "content"</h4>

In [39]:
### dealing with negation words and incorrect spelling
negation_dictionary = {
    "not_happy ": "unhappy ",
    "not_happi ": "unhappi ",
    "not_explain ": "unexplain ",
    "not_explained ": "unexplained ",
    "not_understand ": "misunderstand ",
    "not_satisfied ": "dissatisfied ",
    "not_satisfi ": "dissatisfied ",
    "not_satisfy ": "dissatisfied ",
    "not_correct ": "incorrect ",
    "not_possible ": "impossible ",
    "not_excellent ": "unexcellent ",
    "not_good ": "bad ",
    "not_available ": "unavailable ",
    "not_told ": "nottold ",
    "not_tell ": "nottold ",
    "not_informed ": "uninformed ",
    "not_inform ": "uninformed ",
    "wasnt happy ": "unhappy ",
    "isnt happy ": "unhappy ",
    "un_happy ": "unhappy ",
    "wasnt_happy ": "unhappy ",
    "isnt_happy ": "unhappy "
}

# map negation words
def negation(x, dictionary):
    negation_list = ["not ", "isnt ", "isn't", "wasnt ", "wasn't ", " un "]
    negations = "|".join(negation_list)
    x = re.sub(negations, "not_", x)
    x = reduce(lambda x, y: x.replace(y, dictionary[y]), dictionary, x)
    x = re.sub("cannot_", "cannot ", x)
    x = re.sub("not_", "not ", x)
    return x


### stop word list and extensions
stop_words = list(set(stopwords.words('english')))
print len(stop_words)

# remove words from stop_words that could represent negation/negativity
remove_list = ["no", "haven", "needn", "shan", "doesn", "ain", "don", "weren", "wouldn", "aren", "mightn", "wasn",
              "couldn", "shouldn", "mustn", "hasn", "not", "didn", "won"]
for word in remove_list:
    stop_words.remove(word)

print len(stop_words)

# extend the stop word list to remove common words expected in flight reviews
add_list = ["mr", "mrs", "said", "i", "fly", "st", "flight", "still", "via", "travel", "get", "us", "airport"]
stop_words.extend(add_list)


### remove additional strings from text such as states, airports, cities
states_abbv_list = states["Abbreviation"].unique().tolist()
airline_abbv_list = relevant_airlines["Airline"].unique().tolist()
airport_abbv_list = list(set(data["Departure_Airport"].unique().tolist()+data["Arrival_airport"].unique().tolist()))
all_abbv = states_abbv_list+airline_abbv_list+airport_abbv_list
all_abbv_list = ['{0} '.format(elem) for elem in all_abbv]

# ...after lower conversion
states_list = states["State"].str.lower().unique().tolist()
airline_list = relevant_airlines["Airline_Name"].str.lower().unique().tolist()
airport_list = list(set(data["Departure_Airport_Name"].str.lower().unique().tolist()+data["Arrival_Airport_Name"].unique().tolist()))
city_list = ["new york", "boston", "philadelphia", "austin", "san francisco", "seattle", "chicago", 
             "los angeles", "washington", "louisville", "anchorage", "honolulu", "oakland"]
all_full = states_list+airline_list+airport_list+city_list
all_full_list = ['{0} '.format(elem) for elem in all_full]

def remove_abbrev(x):
    exclusions = "|".join(all_abbv_list)
    x = re.sub(exclusions, '', x)
    return x

def remove_full(x):
    exclusions = "|".join(all_full_list)
    x = re.sub(exclusions, '', x.lower())
    return x


### remove numbers and characters
def remove_char(x):
    pattern = re.compile("[^a-zA-Z ]")
    x = re.sub(pattern, " ", x)
    return x


### remove trailing spaces
def remove_space(x):
    x = x.rstrip()
    return x


### lemmatization
# only lemmatize verbs (default = nouns)
def lem(x):
    lem = WordNetLemmatizer()
    tokens = word_tokenize(x)
    lemma = ' '.join(lem.lemmatize(word, 'v') for word in tokens)
    return lemma


### stop word removal
def stop_word(x):
    tokens = word_tokenize(unicode(x, errors = "ignore"))
    stop = ' '.join(word for word in tokens if not word in stop_words)
    return stop

153
134

In [40]:
# cleaning review "content" text
def process_text(df, col_name):
    df["cleaned_text"] = df[col_name]
    df["cleaned_text"] = df["cleaned_text"].apply(lambda x: remove_char(x))
    df["cleaned_text"] = df["cleaned_text"].apply(lambda x: remove_abbrev(x))
    df["cleaned_text"] = df["cleaned_text"].apply(lambda x: remove_full(x))
    df["cleaned_text"] = df["cleaned_text"].apply(lambda x: stop_word(x))
    df["cleaned_text"] = df["cleaned_text"].apply(lambda x: negation(x, negation_dictionary))
    df["cleaned_text"] = df["cleaned_text"].apply(lambda x: remove_space(x))
    df["cleaned_text"] = df["cleaned_text"].apply(lambda x: lem(x))
    return df

reviews = process_text(reviews, "content")

In [41]:
reviews

,airline_name,date,content,overall_rating,month,year,day,month_year,airline,Airline_Name,cleaned_text
0,alaska-airlines,2015-07-26,Checked into Alaska Airlines at the Santa Rosa...,1.0,7,2015,26,1-7-2015,AS,Alaska Airlines Inc.,check airlines santa rosa hours take plane min...
1,alaska-airlines,2015-07-23,"Short one and half hour flight, seats were com...",8.0,7,2015,23,1-7-2015,AS,Alaska Airlines Inc.,short one half hour seat comfortable friendly ...
2,alaska-airlines,2015-07-15,Flew down to Louisville from Anchorage with a ...,9.0,7,2015,15,1-7-2015,AS,Alaska Airlines Inc.,fly stop way bump first nice crew great plane ...
3,alaska-airlines,2015-07-12,"One way, PDX-LAX. Everything was smooth sailin...",7.0,7,2015,12,1-7-2015,AS,Alaska Airlines Inc.,one way everything smooth sail seat comfortabl...
4,alaska-airlines,2015-07-11,LAX-SEA on the 737-800. Flew on 4th of July an...,10.0,7,2015,11,1-7-2015,AS,Alaska Airlines Inc.,fly th july atmosphere board festive friendly ...
5,alaska-airlines,2015-06-21,Just returned to the Greatland having flown wh...,9.0,6,2015,21,1-6-2015,AS,Alaska Airlines Inc.,return greatland fly favorite airline depart a...
6,alaska-airlines,2015-05-18,Returned recently from a trip to SEA from ANC ...,9.0,5,2015,18,1-5-2015,AS,Alaska Airlines Inc.,return recently trip eagle onto flight well ru...
7,alaska-airlines,2015-05-16,Flight 893 9 May. I don't fly Alaska at all as...,10.0,5,2015,16,1-5-2015,AS,Alaska Airlines Inc.,may don loyalties another airline present freq...
8,alaska-airlines,2015-05-11,Flight AS838 on 6 May. Flew Alaska from Honolu...,9.0,5,2015,11,1-5-2015,AS,Alaska Airlines Inc.,may fly may not expect much cost first class t...
9,alaska-airlines,2015-04-27,Flew with family SJC-Honolulu then returned to...,8.0,4,2015,27,1-4-2015,AS,Alaska Airlines Inc.,fly family return economy class plan variety s...
10,alaska-airlines,2015-04-27,Upgraded to first class for our flight from SE...,8.0,4,2015,27,1-4-2015,AS,Alaska Airlines Inc.,upgrade first class see tom douglas news latel...
11,alaska-airlines,2015-04-10,Flew First LA to Pueto Vallarta and had severa...,0.0,4,2015,10,1-4-2015,AS,Alaska Airlines Inc.,fly first pueto vallarta several issue firstly...
12,alaska-airlines,2015-03-04,Kona - Oakland First class. What an improvemen...,10.0,3,2015,4,1-3-2015,AS,Alaska Airlines Inc.,kona first class improvement leave unite dust ...
13,alaska-airlines,2015-03-04,Great service Seattle to Kona. Major upgrade i...,10.0,3,2015,4,1-3-2015,AS,Alaska Airlines Inc.,great service kona major upgrade meal entertai...
14,alaska-airlines,2015-02-24,I recently flew first class from Cancun Mexico...,1.0,2,2015,24,1-2-2015,AS,Alaska Airlines Inc.,recently fly first class cancun mexico try man...
15,alaska-airlines,2015-01-23,I had never flown Alaska before this past 2014...,9.0,1,2015,23,1-1-2015,AS,Alaska Airlines Inc.,never fly past christmas new year season fianc...
16,alaska-airlines,2015-01-21,Yesterday January 19 2015 I flew Flight 16 fro...,10.0,1,2015,21,1-1-2015,AS,Alaska Airlines Inc.,yesterday january fly back orlando round hour ...
17,alaska-airlines,2015-01-14,Travelled from Philadelphia to Maui via Seattl...,5.0,1,2015,14,1-1-2015,AS,Alaska Airlines Inc.,travel maui fly first class take attendant sta...
18,alaska-airlines,2015-01-11,Returned early this morning from my flight Red...,9.0,1,2015,11,1-1-2015,AS,Alaska Airlines Inc.,return early morning redmond first upgrade fin...
19,alaska-airlines,2015-01-05,Flew LAX-SEA-BLI on B737-900. Took the offer o...,9.0,1,2015,5,1-1-2015,AS,Alaska Airlines Inc.,fly bli b take offer first class upgrade frien...
20,alaska-airlines,2015-01-05,SEA to IAH return. First time flying on Alaska...,7.0,1,2015,5,1-1-2015,AS,Alaska Airlines Inc.,return first time fly legs time service friend...
21,alaska-airlines,2015-01-05,Flew BLI-SEA-SNA. Bellingham to Seattle on Hor...,9.0,1,2015,5,1-1-2015,AS,Alaska Airlines Inc.,fly bli bellingham horizon q no service offer ...
22,alaska-airlines,2014-12-29,Left Santa Ana late because plane arrived late...,10.0,12,2014,29,1-12-2014,AS,Alaska Airlines Inc.,leave santa ana late plane arrive late connect...
23,alaska-airlines,2014-12-22,SEA-IAH first class 739 equipment. Boarding wa...,6.0,12,2014,22,1-12-2014,AS,Alaska Airlines Inc.,first class equipment board fine efficient lea...
24,alaska-airlines,2014-12-10,Recently traveled for the first time on an Ala...,10.0,12,2014,10,1-12-2014,AS,Alaska Airlines Inc.,recently travel first time airlines san diego ...
25,alaska-airlines,2014-12-10,12/1/14 ORD-SEA Flt 29. Arrived at the airport...,3.0,12,2014,10,1-12-2014,AS,Alaska Airlines Inc.,flt arrive hours early agent counter wait mins...
26,alaska-airlines,2014-12-10,12/4/14 SEA to ORD Flt 22. When checking in on...,3.0,12,2014,10,1-12-2014,AS,Alaska Airlines Inc.,flt check one perform self bag tag take luggag...
27,alaska-airlines,2014-12-04,SEA-LAX. Standard seating food etc for a 2.5 h...,8.0,12,2014,4,1-12-2014,AS,Alaska Airlines Inc.,standard seat food etc hour first class advant...
28,alaska-airlines,2014-12-01,Traveled first class San Diego to Boston on 11...,9.0,12,2014,1,1-12-2014,AS,Alaska Airlines Inc.,travel first class san diego plane leave time ...
29,alaska-airlines,2014-11-11,Flew one of the Alaska/Horizon regional routes...,7.0,11,2014,11,1-11-2014,AS,Alaska Airlines Inc.,fly one horizon regional rout night originally...
...,...,...,...,...,...,...,...,...,...,...,...
4253,virgin-america,2010-09-27,LAX-Seattle round trip the same day. I was sea...,9.0,9,2010,27,1-9-2010,VX,Virgin America,round trip day seat bulkhead premium economy r...
4254,virgin-america,2010-09-17,IAD-LAX-IAD. Check-in efficient and personable...,9.0,9,2010,17,1-9-2010,VX,Virgin America,check efficient personable cabin crew flight h...
4255,virgin-america,2010-08-12,BOS-SFO-LAX and back. Upbeat staff new aircraf...,10.0,8,2010,12,1-8-2010,VX,Virgin America,back upbeat staff new aircraft good service th...
4256,virgin-america,2010-08-12,I have recently flown VA three times FLL-SFO. ...,8.0,8,2010,12,1-8-2010,VX,Virgin America,recently fly three time check cheerful airplan...
4257,virgin-america,2010-08-10,BOS-LAX flew Virgin for the second time. Great...,7.0,8,2010,10,1-8-2010,VX,Virgin America,fly virgin second time great comfortable leath...
4258,virgin-america,2010-07-21,LAX-SFO-LAX with new A320. Everything on time ...,10.0,7,2010,21,1-7-2010,VX,Virgin America,new everything time clean nice plane friendly ...
4259,virgin-america,2010-07-19,SFO-SEA and return. Virgin America leaves the ...,10.0,7,2010,19,1-7-2010,VX,Virgin America,return leave legacy airlines dust clean new fa...
4260,virgin-america,2010-07-17,FLL-LAX and return last week. Everything went ...,10.0,7,2010,17,1-7-2010,VX,Virgin America,return last week everything go smoothly flight...
4261,virgin-america,2010-06-20,LAX to Washington (IAD) return as our feeder s...,10.0,6,2010,20,1-6-2010,VX,Virgin America,return feeder service australia service superb...
4262,virgin-america,2010-06-06,LAS-SFO return. Fabulous experience even thoug...,10.0,6,2010,6,1-6-2010,VX,Virgin America,return fabulous experience even though delay d...
4263,virgin-america,2010-04-19,LAX-SFO and SFO-JFK. Upgraded Main Cabin to Fi...,9.0,4,2010,19,1-4-2010,VX,Virgin America,upgrade main cabin first class pity hours depa...
4264,virgin-america,2010-03-31,I have been both Main Cabin and First Class an...,9.0,3,2010,31,1-3-2010,VX,Virgin America,main cabin first class yet try main cabin sele...
4265,virgin-america,2010-03-11,LAX-SEA round trip our first flight with our 3...,10.0,3,2010,11,1-3-2010,VX,Virgin America,round trip first month old son book premium ec...
4266,virgin-america,2010-03-04,LAX-IAD-LAX roundtrip first class. Virgin Amer...,10.0,3,2010,4,1-3-2010,VX,Virgin America,roundtrip first class domestic first class bes...
4267,virgin-america,2010-02-11,I arranged for my 83 year old Mother to visit ...,10.0,2,2010,11,1-2-2010,VX,Virgin America,arrange year old mother visit last week suffer...
4268,virgin-america,2010-02-08,SFO-LAX return. Easy quick and enjoyable. It i...,10.0,2,2010,8,1-2-2010,VX,Virgin America,return easy quick enjoyable refresh see standa...
4269,virgin-america,2010-01-29,I was surprised how convenient and friendly th...,10.0,1,2010,29,1-1-2010,VX,Virgin America,surprise convenient friendly experience althou...
4270,virgin-america,2010-01-24,LAX-JFK was very impressed from start to finis...,9.0,1,2010,24,1-1-2010,VX,Virgin America,impress start finish check quick friendly boar...
4271,virgin-america,2010-01-23,FLL to SFO economy. Very good value for money....,9.0,1,2010,23,1-1-2010,VX,Virgin America,economy good value money great entertainment s...
4272,virgin-america,2010-01-19,LAX-SFO-LAX. Quick boarding friendly staff. I ...,9.0,1,2010,19,1-1-2010,VX,Virgin America,quick board friendly staff upgrade main cabin ...
4273,virgin-america,2009-12-13,SEA-LAX-SEA in November. Boarding a breeze. Ca...,9.0,12,2009,13,1-12-2009,VX,Virgin America,november board breeze captain come give spiel ...
4274,virgin-america,2009-12-04,SFO-LAX-JFK. I had high hopes for this carrier...,1.0,12,2009,4,1-12-2009,VX,Virgin America,high hop carrier even fly extra leg part conne...
4275,virgin-america,2009-12-04,FLL-LAX. Although the crew were not quite as v...,9.0,12,2009,4,1-12-2009,VX,Virgin America,although crew not quite vibrant previous fligh...
4276,virgin-america,2009-11-30,JFK-SFO one way. I flew jetBlue out to Boston ...,2.0,11,2009,30,1-11-2009,VX,Virgin America,one way fly jetblue drive albany imagine tire ...
4277,virgin-america,2009-11-23,SEA-SFO-LAS. I had high hopes for this carrier...,2.0,11,2009,23,1-11-2009,VX,Virgin America,high hop carrier segment apparently staff awar...
4278,virgin-america,2009-11-21,First class San Francisco to Las Vegas return....,10.0,11,2009,21,1-11-2009,VX,Virgin America,first class las vegas return uextra modern fas...
4279,virgin-america,2009-10-26,JFK-SFO. Not one person at JFK knew how to han...,0.0,10,2009,26,1-10-2009,VX,Virgin America,not one person know handle cancel spend hours ...
4280,virgin-america,2009-10-23,SAN-SFO. Great check in and upgraded for small...,9.0,10,2009,23,1-10-2009,VX,Virgin America,great check upgrade small cost almost price pa...
4281,virgin-america,2009-10-18,SEA-LAX and back. Flying with two toddlers was...,6.0,10,2009,18,1-10-2009,VX,Virgin America,back fly two toddlers pleasure way crew friend...
4282,virgin-america,2009-10-18,JFK-LAS. The staff were okay not Southwest sty...,9.0,10,2009,18,1-10-2009,VX,Virgin America,staff okay not southwest style cheerful didn k...

<h4>Sentiment analysis</h4>

In [42]:
# compute polarity and assign sentiment classification
def sentiment(pol):
    if pol > 0.0:
        return "positive"
    elif pol < 0.0:
        return "negative"
    else:
        return "neutral"
    
    
reviews["polarity"] = reviews["cleaned_text"].apply(lambda x: float(TextBlob(str(x)).sentiment.polarity))
reviews["sentiment_class"] = reviews["polarity"].apply(lambda x: sentiment(x))

In [43]:
# group up reviews and calculate average polarity on a monthly level
#monthly = reviews.groupby(['airline', 'Airline_Name', 'year', 'month']).agg({'polarity': 'mean', 'overall_rating': 'mean'}).reset_index()
monthly = reviews.groupby(['airline', 'Airline_Name', 'month_year']).agg({'polarity': 'mean', 'overall_rating': 'mean'}).reset_index()

In [44]:
monthly.head()

  airline            Airline_Name month_year  polarity  overall_rating
0      AA  American Airlines Inc.   1-1-2014  0.083165        4.317073
1      AA  American Airlines Inc.   1-1-2015  0.083170        3.523810
2      AA  American Airlines Inc.  1-10-2014  0.062469        3.090909
3      AA  American Airlines Inc.  1-11-2014  0.108637        4.750000
4      AA  American Airlines Inc.  1-12-2013  0.088462        4.344828

In [ ]:
monthly.to_csv('monthly-ratings-final.csv', index = False)

In [ ]:
# compute word frequencies and individual polarities for unigram and bigram
airline_list = reviews["Airline_Name"].unique().tolist()
reviews[["month", "year"]] = reviews[["month", "year"]].astype(str)
m_list = reviews["month"].unique().tolist()
y_list = reviews["year"].unique().tolist()

# reviews["month_year"] = reviews[["month", "year"]].apply(lambda x: str(x[0])+"-"+str(x[1]), axis = 1)
# my_list = reviews["month_year"].unique().tolist()

# group by airline, month-year
freq_df = pd.DataFrame(columns = ["Airline_Name", "year", "month", "Word", "Frequency", "Polarity"])

# inefficient - but one-time activity
for a in airline_list:
    for y in y_list:
        for m in m_list:
            df = reviews[(reviews["Airline_Name"] == a) & (reviews["month"] == m) & (reviews["year"] == y)]
            vect = CountVectorizer(stop_words = None, ngram_range = (1, 2), max_features = 50)
            if df.shape[0] != 0:
                X = vect.fit_transform(df["cleaned_text"].values)
                count_vect_df = pd.DataFrame(X.todense(), columns = vect.get_feature_names()).T.sum(axis = 1).reset_index()
                count_vect_df.columns.values[0] = "Word"
                count_vect_df.columns.values[1] = "Frequency"
                count_vect_df.sort('Frequency', ascending = False, inplace = True)
                count_vect_df["Polarity"] = count_vect_df["Word"].apply(lambda x: float(TextBlob(str(x)).sentiment.polarity))
                for i, row in count_vect_df.iterrows():
                    freq_df = freq_df.append({'Airline_Name': a, 'month': m, "year": y, 'Word': row['Word'], 
                                              'Frequency': row['Frequency'], 'Polarity': row['Polarity']}, ignore_index = True)

In [ ]:
freq_df.head()

In [ ]:
freq_df.to_csv('wordcloud_input.csv', index = False)

<h3>Extracting weather data through wunderground API</h3>

https://www.wunderground.com/weather/api/

In [ ]:
# relevant libraries
import csv
import os
import requests

In [ ]:
# free API key for access to data
api_key = "1df0273b996bac82"

# coordinates for most common departure airport = "Hartsfield Jackson Atlanta International Airport" = "ATL"
# data["Departure_Airport_Name].value_counts()
# can only make 500 API calls a day - will only extract data for this airport
coordinates = [("33.63", "-84.42", "ATL")]

# function to extract weather
# insert list of tuples
# time_from/time_to as datetime.date(YYYY,MM,DD)
def get_weather(coords, time_from, time_to):
    for c in coords:
        lat = c[0]
        lon = c[1]
        airport = c[2]
        with open('%s.csv' % airport, 'wb') as out:
            writer = csv.writer(out)
            headers = ["airport", "day", "month", "year", "mean temp", "mean wind speed", "rain", "snow", 
                       "thunder", "tornado"]
            writer.writerow(headers)
            
            start_date = time_from
            end_date = time_to
            
            date = start_date
            while date <= end_date:
                # format as YYYYMMDD
                date_string = date.strftime("%Y%m%d")
                
                # generate url
                url = ("http://api.wunderground.com/api/%s/daily/history_%s/q/%s,%s.json" % (api_key, date_string, lat, lon))
                
                # make request and parse json
                data = requests.get(url).json()
                
                # extract relevant fields and write to output
                for history in data['history']['dailysummary']:
                    row = []
                    row.append(airport)
                    row.append(str(history['date']['mday']))
                    row.append(str(history['date']['mon']))
                    row.append(str(history['date']['year']))
                    row.append(str(history['meantempi'])) # temp in F
                    row.append(str(history['meanwindspdi'])) # wind in mph
                    row.append(str(history['rain']))
                    row.append(str(history['snow']))
                    row.append(str(history['thunder']))
                    row.append(str(history['tornado']))
                    
                    writer.writerow(row)
                date += datetime.timedelta(days = 1)

In [ ]:
# retrieve data for 2008
get_weather(coordinates, datetime.date(2008, 1, 1), datetime.date(2008, 12, 31))